/**
 * Variable Overrides.
 *
 * Modify this file to override the Bootstrap Framework variables. You can copy
 * these variables directly from ../bootstrap/less/variables.less to this file.
 */

// Set the proper directory for the Bootstrap Glyphicon font.
@icon-font-path:        '../../bootstrap/fonts/';

@jumbotron-bg:          transparent;

@brand-primary:         #5980ca;

//** Global textual link color.
@link-color:                  @brand-primary;
//** Link hover color set via `darken()` function.
@link-hover-color:            darken(@link-color, 15%);


@component-active-bg:         @brand-primary;

@btn-primary-bg:              @brand-primary;
@btn-primary-border:          darken(@btn-primary-bg, 5%);

@pagination-active-bg:        @brand-primary;
@pagination-active-border:    darken(@btn-primary-bg, 5%);

@label-primary-bg:            @brand-primary;
@progress-bar-bg:             @brand-primary;
@panel-primary-heading-bg:    @brand-primary;
@badge-bg:                    @brand-primary;


//=== Inverted navbar
// Reset inverted navbar basics
@navbar-inverse-color:                      darken(#fff, 10%);
@navbar-inverse-bg:                         @btn-primary-border;
@navbar-inverse-border:                     darken(@navbar-inverse-bg, 15%);

// Inverted navbar links
@navbar-inverse-link-color:                 @navbar-inverse-color;
@navbar-inverse-link-hover-color:           #fff;
@navbar-inverse-link-hover-bg:              lighten(@brand-primary, 2%);;
@navbar-inverse-link-active-color:          @navbar-inverse-link-hover-color;
@navbar-inverse-link-active-bg:             lighten(@brand-primary, 2%);
@navbar-inverse-link-disabled-color:        #444;
@navbar-inverse-link-disabled-bg:           transparent;

// Inverted navbar brand label
@navbar-inverse-brand-color:                @navbar-inverse-link-color;
@navbar-inverse-brand-hover-color:          #fff;
@navbar-inverse-brand-hover-bg:             transparent;

// Inverted navbar toggle
@navbar-inverse-toggle-hover-bg:            @navbar-inverse-link-hover-bg;
@navbar-inverse-toggle-icon-bar-bg:         @gray-lighter;
@navbar-inverse-toggle-border-color:        transparent;

//== Jumbotron
//
//##
@jumbotron-padding:              30px;
