{#
/**
 * @file
 * Default theme implementation to display a view of unformatted rows.
 *
 * Available variables:
 * - title: The title of this group of rows. May be empty.
 * - rows: A list of the view's row items.
 *   - attributes: The row's HTML attributes.
 *   - content: The row's content.
 * - view: The view object.
 * - default_row_class: A flag indicating whether default classes should be
 *   used on rows.
 *
 * @see template_preprocess_views_view_unformatted()
 *
 * @ingroup themeable
 */
#}
{% if title %}
  <h3>{{ title }}</h3>
{% endif %}
{# Add one to rows.count, since we are treating the "read more" block as an item #}
{# rows.count not available until Drupal 8.2.x #}
{# set offsetKey = ((rows.count + 1) % 2 == 0 ? 2 : 1) #}
{% for key,row in rows %}
  {# key == 0 ? "col-sm-offset-#{offsetKey}" : 'col-sm-offset-0' #}
  {%
    set row_classes = [
      default_row_class ? 'views-row',
      key == 0 ? "col-sm-offset-1" : 'col-sm-offset-0'
    ]
  %}
  <div{{ row.attributes.addClass(row_classes) }}>
    {{ row.content }}
  </div>
{% endfor %}
